@font-face
    font-family: 'Inter';
    src: local('Inter Regular'), local('Inter-Regular'),
        url('../fonts/Inter-Regular.woff2') format('woff2'),
        url('../fonts/Inter-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap

@font-face
    font-family: 'Inter';
    src: local('Inter Semi Bold'), local('Inter-SemiBold'),
        url('../fonts/Inter-SemiBold.woff2') format('woff2'),
        url('../fonts/Inter-SemiBold.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap

:root
    --h1 167px
    --h2 36px
    --text-28 28px
    --text-20 20px
    --gap-20 20px
    --br-50 50px

$white = #fff
$black = #000
$red = #ff0505
$dark-gray = #747272

tr(){
	transition all 0.3s ease-in-out
}

html
	box-sizing border-box
	overflow-x hidden

*,
*::after,
*::before
	box-sizing inherit

body
    min-width 320px
    background-color $white
    font-family 'Inter', sans-serif
    font-weight 400
    color $black
    overflow-x hidden

// Global

.container
    width 100%
    max-width: 1920px
    padding 0 20px
    margin 0 auto

.list-reset 
    list-style none
    padding 0
    margin 0

.btn-reset
    background-color transparent
    padding 0
    border none
        
a
    text-decoration none
    color inherit

img
    max-width 100%

.visually-hidden 
    position absolute
    width 1px
    height 1px
    margin -1px
    border 0
    padding 0
    clip rect(0 0 0 0)
    overflow hidden

.stop-scroll
    overflow-y: hidden;
    overscroll-behavior: contain;

.main-btn,
.main-link
    display: inline-block
    color: $black;
    font-family: 'Inter';
    font-size: var(--text-20)
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    background: $white
    padding 12px 36px
    border: 1px solid $dark-gray;
    border-radius: 4px;
    text-align: center
    cursor pointer
    tr()
    &:hover
        color $white
        background-color $black
        border-color $white

.section-title
    font-size var(--h2)
    padding-left var(--gap-20)
    margin 0
    margin-bottom 46px
    & span 
        color $red

.section-block-link
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;

.tab-content
    &:not(.tab-content--active)
            display: none

.header__links a,
.vip__link,
.clothing__list,
.clothing__link,
.categories__link
    font-size 0


// Header
.header
    background-color $white
    padding 37px 0
    &__container
        display: flex
        justify-content: space-between
        align-items: center
        padding 0 180px
    &__search
        display flex
        align-items: center
        gap 10px
        cursor pointer
    &__search,
    &__actions
        width 25%
    &__logo svg 
        width 576px
        height 34px
    &__actions
        display: flex
        align-items: center
        justify-content: flex-end
        gap 56px
    &__links
        display: flex
        align-items: center
        gap var(--gap-20)

.burger
    position: relative
    width 21px
    height 15px
    cursor: pointer
    &__line
        position: absolute
        top 50% 
        left 0
        width 100%
        height 2px
        background-color $black
        &:first-child
            top 0
        &:last-child
            top unset
            bottom 0
        &:nth-child(2)
            transform: translateY(-50%)

// Hero
.hero
    background-color $black
    padding 199px 0 42px
    &__container
        display: flex
        flex-direction: column
        align-items: center
    &__title
        color: $white;
        text-align: center;
        font-family: 'Inter';
        font-size: var(--h1);
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        margin 0
        margin-bottom 107px
    &__btns
        display: flex
        gap 48px
    &__btn
        min-width 225px

// Navigation
.navigation
    padding 70px 0
    &__container
        display: flex
        justify-content: space-between
        padding 0 40px
    &__left
        display: flex
        align-items: center;
        gap var(--gap-20)
        width 44%
        height: fit-content;
    &__title
        font-size var(--h2)
        color: $black
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        margin 0
    &__tabs
        display: flex
        height fit-content
        padding 2px
        border-radius: var(--br-50)
        border: 1px solid $black;
    &__tab
        font-size: var(--text-20)
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        color rgba(0, 0, 0, .7)
        padding 22px 39px
        border-radius: var(--br-50)
        cursor pointer
        &--active
            color $white
            background-color $dark-gray
    &__right
        width 47%
    &__list
        display: flex
        flex-wrap: wrap
        justify-content: flex-end
        gap var(--gap-20)
    &__item
        display: flex
        align-items: center
        justify-content: center
    &__link
        display: flex;
        align-items: center;
        justify-content: center;
        width 154px
        height 100%
        color rgba(0, 0, 0, .7)
        padding 12px 17px

// VIP
.vip
    padding-bottom 90px
    &__container
        display: flex
        gap var(--gap-20)
    &__bar
        width calc(25% - 10px)
        color $white
        font-size var(--text-28)
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        background-color $black
        padding 122px 50px 20px
        margin-bottom 32px
    &__descr
        margin 0
        &:not(:last-child)
            margin-bottom 70px
    &__swiper
        width calc(75% - 10px)
    &__link
        display: block
        cursor pointer
    &__product-name
        position: absolute
        top 100%
        color: $black;
        font-size var(--text-20)
        font-style: normal;
        font-weight: 400;
        line-height: 160%;
        margin 0
.vip__swiper .swiper-slide
    margin-bottom 32px


// Clothing
.clothing
    padding-bottom 100px
    &__wrapper 
        display: flex
        gap 2px
        & > div 
            width calc(50% - 1px)
        &[data-tabcontent='men'] .clothing__offer
            background-image url('../img/clothing-men-bg.jpg')
        &[data-tabcontent='women'] .clothing__offer
            background-image url('../img/clothing-women-bg.jpg')
    &__offer
        position: relative;
        display: flex
        justify-content: center
        align-items: flex-end
        background-repeat no-repeat
        background-size cover
        padding 70px
    &__offer-link
        display: inline-block
        z-index 2
    &__pagination
        &.swiper-horizontal>.swiper-pagination-bullets, 
        &.swiper-pagination-bullets.swiper-pagination-horizontal
            top unset 
            bottom 80px
        & .swiper-pagination-bullet
            width 15px
            height 15px
        & .swiper-pagination-bullet-active
            background: $red

// Shoes
.shoes
    padding-bottom 90px
    &__offer
        position: relative;
        display: flex
        justify-content: center
        align-items: flex-end
        height 901px
        background-repeat no-repeat
        background-size cover
        background-position: center
        padding 70px
        &[data-tabcontent='men']
            background-image url('../img/m-shoes-bg.jpg')
        &[data-tabcontent='women']
            background-image url('../img/w-shoes-bg.jpg')
    &__link
        z-index 2

// Categories
.categories
    padding-bottom 100px
    &__list
        display: flex
        gap: var(--gap-20)
    &__link
        position: relative
        display: block
        tr()
        &:hover
            opacity: .7
        &:hover .categories__item-title
            text-decoration: none
    &__item-title
        position: absolute
        width 100%
        bottom 36px
        left 0
        font-size var(--h2)
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        text-decoration: underline
        text-align: center
        margin 0
        tr()

// Looks
.looks
    padding-bottom 230px
    &__list
        display: flex
        gap: var(--gap-20)

.categories .swiper-slide,
.looks .swiper-slide
    flex-shrink: 1

.mark
    position: absolute;
    top: 21%;
    right: 34%;
    &__btn 
        cursor pointer
        & circle
            tr()
        &:hover circle
            fill #d9d9d9
    &__popup
        tr()
        position: absolute;
        top: 100%;
        left: 50%;
        transform: translate(-50%, -60%)
        width: 100px;
        background: $white;
        padding: 20px;
        border-radius: 30px;
        visibility: hidden
        opacity 0
        &.active
            transform: translateX(-50%);
            visibility: visible
            opacity 1
    &__image
        margin-bottom 12px
    &__descr
        color $dark-gray
        font-size var(--text-20)
        font-weight 400
        margin 0
        margin-bottom 12px
    &__title
        font-size var(--text-20)
        font-weight 600
        margin 0

@supports (-webkit-touch-callout: none) and (not (line-break: anywhere))
    .navigation__link,
    .navigation__tab
        color rgba(0, 0, 0, .35)

@import './media.styl'