@media (max-width 1920px)
    .navigation
        &__left
            width 36%
            flex-direction: column
            align-items: flex-start
        &__right
            width 64%

@media (max-width 1600px)
    :root
        --h1 130px
        --h2 28px
        --text-28 22px
        --text-20 16px
        --gap-20 16px


    .main-btn,
    .main-link
        padding 12px 28px

    .section-title
        margin-bottom 36px

    .header
        padding 28px 0
        &__container
            padding 0 140px
        &__search
            gap 8px
        &__search,
        &__actions
            width 20%
            & svg
                width 19px
                height 19px
        &__logo svg 
            width 460px
            height 26px
        &__actions
            gap 44px

    .hero
        padding 160px 0 33px
        &__title
            margin-bottom 85px
        &__btns
            gap 38px
        &__btn
            min-width 180px

    .navigation
        padding 56px 0
        &__container
            padding 0 32px
        &__left
            width 44%
        &__tab
            padding 17px 30px
        &__link
            width 120px
            padding 12px 14px

    .vip
        padding-bottom 72px
        &__bar
            padding 97px 40px 20px
            margin-bottom 26px
        &__descr
            &:not(:last-child)
                margin-bottom 48px
    .vip__swiper .swiper-slide
        margin-bottom 26px

    .clothing
        padding-bottom 80px
        &__offer
            padding 56px
        &__pagination
            &.swiper-horizontal>.swiper-pagination-bullets, 
            &.swiper-pagination-bullets.swiper-pagination-horizontal
                bottom 64px
            & .swiper-pagination-bullet
                width 12px
                height 12px

    .shoes
        padding-bottom 72px
        &__offer
            height 640px
            padding 56px

    .categories
        padding-bottom 80px
        &__item-title
            bottom 28px

    .looks
        padding-bottom 180px

@media (max-width 1200px)
    .container
        padding 0 16px

    :root
        --h1 110px
        --h2 22px
        --text-28 18px
        --text-20 16px
        --gap-20 16px


    .main-btn,
    .main-link
        padding 10px 23px

    .section-title
        padding-left 0
        margin-bottom 30px

    .header
        padding 24px 0
        &__logo svg 
            width 390px
            height 22px
        &__actions
            gap 37px

    .hero
        padding 130px 0 28px
        &__title
            margin-bottom 70px
        &__btns
            gap 32px
        &__btn
            min-width 160px

    .navigation
        padding 46px 0
        &__container
            flex-direction: column
            gap: 30px
        &__left,
        &__right
            width 100%
        &__left
            flex-direction: row
            align-items: center
        &__tab
            padding 14px 25px
        &__list
            justify-content: flex-start
            gap 8px
        &__link
            width unset
            padding 10px 12px

    .vip
        padding-bottom 60px
        &__bar
            padding 80px 30px 16px
        &__descr
            &:not(:last-child)
                margin-bottom 30px

    .clothing
        padding-bottom 68px
        &__offer
            padding 46px
        &__pagination
            &.swiper-horizontal>.swiper-pagination-bullets, 
            &.swiper-pagination-bullets.swiper-pagination-horizontal
                bottom 54px

    .shoes
        padding-bottom 60px
        &__offer
            height 500px
            padding 44px

    .categories
        padding-bottom 68px
        &__item-title
            bottom 24px

    .looks
        padding-bottom 150px

@media (max-width 991px)
    .mobile-hidden
        display: none

    .vip
        &__bar
            width calc(33.33% - 10px)
        &__swiper
            width calc(66.66% - 10px)
    
    .shoes
        &__offer
            height: 400px;

@media (max-width 768px)
    :root
        --h1 24.667vw
        --h2 5.867vw
        --text-28 4.8vw
        --text-20 4.267vw
        --gap-20 4.267vw
        --br-50 13.333vw

    .container
        padding 0 4.267vw

    .main-btn,
    .main-link
        padding: 2.667vw 6.133vw
        border-radius: 1.067vw

    .section-title
        margin-bottom 8vw

    .header
        padding 4.4vw 0
        &__logo svg 
            width 58vw
            height 4.567vw
        &__search svg, 
        &__actions svg
            width: 4.8vw
            height: 4.8vw

    .burger
        width 5.6vw
        height 4vw
        &__line
            height 0.533vw

    .hero
        padding 27.333vw 0 7.467vw
        &__title
            margin-bottom 16.667vw
        &__btns
            gap 3.133vw
        &__btn
            min-width 41.667vw

    .navigation
        padding 12vw 0
        &__container
            gap: 8vw
        &__left
            flex-direction: column;
        &__tabs
            padding 0.533vw
            border-width: 0.267vw
        &__tab
            padding 3.733vw 6.667vw
        &__list
            gap 2.133vw
        &__link
            padding 2.133vw 2.467vw

    .vip
        padding-bottom 13.333vw
        &__container
            flex-direction: column
            gap 2.133vw
        &__bar
            padding 10.667vw 8vw
            margin-bottom 0
        &__bar,
        &__swiper
            width 100%
        &__descr
            &:not(:last-child)
                margin-bottom 6.4vw
    .vip__swiper .swiper-slide
        margin-bottom 6.933vw


    .clothing
        padding-bottom 16vw
        &__wrapper 
            flex-direction: column
            gap 0.533vw
            & > div 
                width 100%
        &__offer
            height 91.467vw
            padding 10.667vw
        &__pagination
            &.swiper-horizontal>.swiper-pagination-bullets, 
            &.swiper-pagination-bullets.swiper-pagination-horizontal
                bottom 8vw
            & .swiper-pagination-bullet
                width 2.133vw
                height 2.133vw

    .shoes
        padding-bottom 13.333vw
        &__offer
            height: 91.467vw
            padding 10.667vw

    .categories
        padding-bottom 13.333vw
        &__list
            gap unset
        &__item-title
            bottom 5.333vw

    .looks
        padding-bottom 34.667vw
        &__list
            gap unset
    
    .categories .swiper-slide,
    .looks .swiper-slide
        flex-shrink: 0

    .mark
        top: 20%;
        right: 33%;
        &__popup
            width: 17.533vw
            padding: 4.267vw 2.667vw
            border-radius: 5.333vw
        &__image,
        &__descr
            margin-bottom 2.133vw
        &__descr,
        &__title
            font-size 3.1vw
